@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-green: #50fa7b;
    --color-rocket: #7159c1;
}

body {
    margin: 0;
    background: #282a36;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.body h1 {
    border: 2px solid var(--color-rocket);
    border-radius: 20px;
    margin: 10% 10%;
    text-align: center;
    font-size: 150px;
}

header {
    padding: 30px;
    border-bottom: 1px solid #333;
    background: rgba(0,0,0,0.1);
}

.links-company a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.links-company a:hover {
    color: var(--color-green);
    transition: 300ms;
}

/*=== ABOUT ===*/

section {
    max-width: 800px;
    margin: 0 auto;
}

.image-company img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    width: 50%;
}
.content-company h1 {
    font-size: 42px;
    line-height: 24px;
    text-decoration: bold;
    text-align: center;
}

.content-company h2 {
    opacity: 80%;
    text-align: center;
}

.content-company p {
    font-size: 18px;
}

.content-company ul {
    font-size: 20px;
}

section .links-company{
    text-align: right;
    margin-bottom: 32px;
}

section .links-company a{
    border-bottom: 1px solid var(--color-green);
}

/*=== CONTENT ===*/
.cards{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    border: 2px solid rgba(100, 100, 100, 0.801);
    border-radius: 20px;
    text-align: center;
}

.card-info h2 {
    margin-top: 42px;
}

.card-info p {
    border: 2px solid rgba(56, 54, 54, 0.767);
    border-radius: 10px;
    padding: 10px 30px;
    text-align: left;
    display: inline-block;
    margin-top: 10%;
    margin-right: 10px;
}

.card-info .card-price {
    background-color: var(--color-green);
    padding: 10px 30px;
    border-radius: 10px;
    text-align: right;
    display: inline-block;
    margin-top: 10%;
    margin-left: 10px;
}

.card-image img{
    margin-top: 5vh;
    cursor: pointer;
}

/*=== MODAL ===*/
.modal-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: rgba(56, 54, 54, 0.767);
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 3px;
}

.modal .maximize-modal {
    color: rgba(56, 54, 54, 0.767);
    position: absolute;
    cursor: pointer;
    right: 40px;
    top: 3px;
}

.modal.maximize-modal {
    margin: 0;
    width: 100%;
    height: 100%;
}

.modal.maximize-modal iframe {
    height: 100%;
}

/*=== MODAL ACTIVE ===*/
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}