{% extends "layout.njk" %}

    {% block head %}
        <title>Rocketseat - Sobre</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    {% endblock %}

    {% block content %}
        <section>
            {% for about in description %}
                <div class="image-company">
                    <img src="{{ about.logo_url }}" alt="image of {{ about.name }}">
                </div>
                
                <div class="content-company">
                    <h1>{{ about.name }}</h1>
                    
                    <p>{{ about.text }}</p>

                    <h2>{{ about.title_techs }}</h2>
                    <ul>
                        {% for tech in about.techs %}
                            <li>{{ tech }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="links-company">
                    {% for link in about.links %}
                        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                    {% endfor %}
                </div>
            </section>
        {% endfor %}
    {% endblock %}